<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="6.0">
  <display-name>CampusFlow</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config><http-only>true</http-only></cookie-config>
  </session-config>
  <welcome-file-list><welcome-file>index.jsp</welcome-file></welcome-file-list>
  <error-page><error-code>403</error-code><location>/WEB-INF/views/error.jsp</location></error-page>
  <error-page><error-code>404</error-code><location>/WEB-INF/views/error.jsp</location></error-page>
  <error-page><error-code>500</error-code><location>/WEB-INF/views/error.jsp</location></error-page>
</web-app>
